* {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

main {
  flex-grow: 3;
  padding: 20px 60px;
  height: 100dvh;
}

h1 {
  font-size: 1.6rem;
  color: rgba($color: #000000, $alpha: 0.85);
}

svg {
  cursor: pointer;
  width: 20px;
  color: #000000bd;
}

a {
  text-decoration: none;
  color: rgba($color: #000000, $alpha: 0.8);
  transition: 0.1s linear;
}

a:hover {
  color: rgb(80, 154, 190);
}

.active {
  color: rgb(80, 154, 190);
}

@media (max-width: 576px) {
  header {
    justify-content: space-between !important;
    padding: 0 15px !important;
  }

  .header__right {
    display: none !important;
  }

  .header__logo {
    width: 10% !important;
  }

  .header__menu {
    width: 200px !important;
    justify-content: space-between !important;
  }

  .header__menu a {
    font-size: 12px !important;
  }

  main {
    padding: 20px 15px !important;
  }

  .apartments-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px) !important;
    justify-content: center !important;
    align-items: center;
    grid-gap: 10px !important;
  }
}
